.icon-switch {
  animation: spinPop 0.45s ease;
}

@keyframes spinPop {
  0% {
    opacity: 0;
    transform: scale(0.2) rotate(-180deg);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.3) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
